<a href="https://colab.research.google.com/github/leonardosanchez2017/DATA-ANALYTICS-Academy/blob/main/Practica2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import math
import pandas as pd
import numpy as np

Procedo a importar las librerias a utilizar para poder realizar dicha practica.

In [2]:
pd.set_option('display.max_columns', 1000)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', 300)

hago uso de los metodos para poder visializar todas las columnas y filas.

In [3]:
df = pd.DataFrame()

Declaro la variable df y le asigno el metodo pd.dataframe

In [5]:
url = ('/content/autos.csv')  
df = pd.read_csv(url)

creo una variable de nombre url y le asigno la ruta del archivo autos.csv, despues hago uso del metodo pd.read_csv que me permitira importar el archivo con panda.

primero procedi a limpiar la data y crear las 6 variables dentro de las cuales la mayoria son numericas. las nuevas variables son (c_retro, c_gomas, cantidad puertas, tipo_transmision, tipo vehiculo y combustible)

In [6]:
df['calculos Log10'] = np.log10(df['c_gomas']/df['c_retro'])

procedo a crear una columna dentro del dataframe de nombre calculo log10 como lo solicita el mandato haciendo uso del metodo de la libreria numpy np.log10 hago el calculo solicitado.

In [7]:
df['Calculo Sqrt(var1)exp(var2)/200'] = np.sqrt(df['c_gomas'])*math.exp(2)/200

El metodo sqrt calcula la raiz cuadrada de la
variable que se le pasa, el metodo exp eleva a la potencia por le numero que se le asigna.

In [8]:
df['calculos LogN'] = 1/np.log(df['c_gomas']/df['c_retro']*100)

procedo hacer uso del metodo np.log para calcular el logaritmo natural con las variables establecidas

In [9]:
df['variable elevada'] = df['c_gomas']**2 / df['c_retro']

procedo hacer lo emanado en el mandato elevando al cuadrado la variable senalada y despues dividiendo el resultado entre la otra variable.

In [10]:
print(df)

      Id  Millas_Por_Galon  Cilindros Pais_Origen  Peso_En_Libras  Desplazamiento  Aceleracion      marca    modelo combustibe tipo de vehiculo Ano_fabricacion  Caballo_De_Fuerza Transmision  cantida de puertas  c_gomas  c_retro  calculos Log10  Calculo Sqrt(var1)exp(var2)/200  calculos LogN  variable elevada
0    168              29.0          4      Europe            1867            68.0         19.5       fiat       128   gasolina            sedan          1/1/73               49.0  automatica                   2        4        2         0.30103                         0.073891       0.188739               8.0
1    169              24.0          4      Europe            2108            90.0         15.5       fiat       128   gasolina            sedan          1/1/74               75.0  automatica                   2        4        2         0.30103                         0.073891       0.188739               8.0
2    170              28.0          4      Europe            2464           107.0         15.5       fiat       131   gasolina            sedan          1/1/76               86.0  automatica                   2        4        2         0.30103                         0.073891       0.188739               8.0
3    117              31.8          4       Japan            2020            85.0         19.2     datsun       210   gasolina            sedan          1/1/79               65.0    mecanica                   2        4        2         0.30103                         0.073891       0.188739               8.0
4    118              40.8          4       Japan            2110            85.0         19.2     datsun       210   gasolina            sedan          1/1/80               65.0    mecanica                   2        4        2         0.30103                         0.073891       0.188739               8.0
..   ...               ...        ...         ...             ...             ...          ...        ...       ...        ...              ...             ...                ...         ...                 ...      ...      ...             ...                              ...            ...               ...
378  103              24.5          4         USA            2164            98.0         22.1  chevrolet     woody   gasolina            sedan          1/1/76               60.0  automatica                   4        4        2         0.30103                         0.073891       0.188739               8.0
379  172              31.0          4      Europe            2000            79.0         16.0       fiat      x1.9   gasolina            sedan          1/1/74               67.0  automatica                   4        4        2         0.30103                         0.073891       0.188739               8.0
380  264              20.8          6         USA            3070           200.0         16.7    mercury    zephyr   gasolina            sedan          1/1/78               85.0  automatica                   4        4        2         0.30103                         0.073891       0.188739               8.0
381  265              19.8          6         USA            2990           200.0         18.2    mercury  zephyr 6   gasolina            sedan          1/1/79               85.0  automatica                   4        4        2         0.30103                         0.073891       0.188739               8.0
382  400              30.7          6      Europe            3160           145.0         19.6      volvo       NaN   gasolina            sedan          1/1/82               76.0  automatica                   4        4        2         0.30103                         0.073891       0.188739               8.0

[383 rows x 21 columns]

In [11]:
Var1 = 1
Var2 = 2
if Var1 > Var2:
 print(' 5')
else:
 print('3')

3

Este punto lo realice de forma directa, trate de hacerlo relacionando dos campos numerico y se presentaron varios inconvenientes, me gustaria que se explicara esta parte a ver si se puede.